body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.content {
  flex-basis: 68%;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 3% 2%;
}
.hide-x::-webkit-scrollbar {
  display: none;
}

.hide-x {
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.font-100{
  font-weight: 100 !important;
}
.font-200{
  font-weight: 200 !important;
}
.font-300{
  font-weight: 300 !important;
}
.font-400{
  font-weight: 400 !important;
}
.color-xlight{
  color:rgb(107, 107, 107) !important;
}
.color-xxlight{
  color:rgb(176 176 176) !important;
}
.cursor-pointer{
  cursor: pointer;
}
.modal-dialog-bottom {
  margin-top: auto !important;
  margin-bottom: 20px !important;
}

.bg-yellow-hover:hover{
  background-color: yellow !important;
}